.FormParent{
    display: flex;
    width: calc(100% - 40px);
    background-color: rgb(94, 94, 94);
    min-height: calc(100vh - 70px);
    justify-content: space-evenly;
    gap: 20px;
    padding: 10px 20px;
    color: white;
}

input:focus{
    outline: none;
}

.divLeft,.divRight{
    display: flex;
    padding: 10px 10px;
    width: calc(100% - 20px);
    background-color: rgb(41, 41, 41);
    flex-direction: column;
    gap: 20px;
}

.valueDiv , .valuePrev{
    display: flex;
    gap: 20px;
}